html, body {
	height:100%;
	width:100%;
	background-color: #b7b7b7;
	margin:0;
	padding: 0;
}

.authors {
	width:30%;
	display:inline-block;
	height:100%;
	background-color: #5151D0;
	float:left;
}

#author-header {
	width:100%;
	height:15%;
}

#author-header h2 {
	margin:0;
	background-color: #171754;
}

 h2 {
 	text-align: center;
 	color: white;
 }

.main {
	width:70%;
	height:100%;
	display:inline-block;
	float:right;
}

#author-search {
	background-color: white-smoke;
	margin-right: 15%;
	margin-left: 15%
}

/*mainView*/

/*buttons*/

.quote-type {
	padding: 10px;
	min-width: 160px;
	float:left;
	border:none;
	color:white;
    margin-top: 2.3%;
    border-radius:10px;
    font-family:Tahoma;
    font-weight: 500;
    font-size: 120%;
}

#romantic-button {
	background-color: #CF7388;
	margin-left:10%;
}

#funny-button {
	background-color: #A4CF73;
	margin: 2.3% 10% 2.3%;
}

#insulting-button {
	background-color: #373737;
	margin-right:10%;
}

#romantic-button.active, #funny-button.active, #insulting-button.active {
	background-color: gray;
}

.get-quote-button {
	background-color: #171754;
	color:white;
	min-width:230px;
	min-height: 75px;
	margin-left: 35%;
	margin-top:10%;
	font-size:200%;
	font-weight:bold;
	font-family: Tahoma;

}
